*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(91,209,215);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-container {
  background: #fff;
  width: 625px;
  max-width: calc(100-32px);
  min-height: 348px;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.modal-header-0 {
  display: flex;
  justify-content: center;
}

.modal-header-1 {
  display: flex;
  justify-content: center;
  bottom: 20px;
}

.modal-header-2 {
  display: flex;
  justify-content: center;
}

h1.text-1 {
  justify-content: center;
  display: flex;
  font-size: 50px;
  margin-top: 22px;
}

h1.text-2 {
  justify-content: center;
  display: flex;
  font-size: 35px;
  margin-top: 25px;
}


.modal-body{
  padding: 50px;
  font-size: 20px;
  padding-bottom: 0px;
}

.modal-header {
  margin-top: 25px;
}


label.modal-label {
  display: block;
  margin-bottom: 20px;
}

input.modal-username-input {
  /* border: 1px solid #ccc; */
  width: 100%;
  padding: 10px;
  margin: 10px auto;
}

button#modal-log-in:hover {
  opacity: 0.9;
}

button#modal-log-in {
  background: rgb(112, 208, 219);
  border: none;
  border-radius: 40px;
  width: 100%;
  font-size: 35px;
  padding: 12px;
  cursor: pointer;
  margin-top: 20px;
}

p.modal-reset {
  text-align: center;
  font-size: 20px;
  margin-bottom: 35px;

}

p.modal-reset a {
  color: rgb(112, 208, 219);
  text-decoration: none;
}

.modal-footer{
  margin-top: 20px;
}

.qmk {
  color: red;
  font-size: 15px;
  cursor: pointer;
}

a {
  text-decoration: none;
}